main{
    display: flex;
    flex-direction: column;
    row-gap: 10vmin;
    margin-bottom: 10vmin;
    align-items: center;
}

.container{
    display: flex;
    margin: 0 20vmin 0 20vmin;
    column-gap: 2%;
}

.reverse {
    flex-direction: row-reverse;
}

img{
    width: 38vw;
}

h1 {
    font-size: 5vmin;
}

@media screen and (max-width: 480px) {
    .container{
        display: inline;
    }

    img{
        width: 70vw;
    }    
}