main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main * {
  margin: 40px 0 40px;
}

main button {
  width: 32vmin;
  height: 6vmin;
  font-size: 2vmin;
  font-weight: bold;
  background-color: var(--color1_2);
  border: solid 2px var(--color1_3);
  border-radius: 10px;
  transition: 0.3s;
}

main button:hover {
  background-color: var(--color1_4);
  color: white;
}

.hueco {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
}

.animacion {
  overflow: hidden;
  height: 10vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}

.string {
  position: relative;
  top: 9.2vmin;
  display: flex;
  flex-direction: column;
  row-gap: 0vmin;
  text-align: center;
  animation: move 7s infinite;
}

.greeting {
  position: relative;
  top: 8.6vmin;
  margin: 3.3vmin;
}

.naranja {
  color: #ff5733;
}

.azul {
  color: #3498db;
}

.verde {
  color: #27ae60;
}

.morado {
  color: #9b59b6;
}

@keyframes move {
  25% {
    top: -2.8vmin;
  }

  50% {
    top: -14.4vmin;
  }

  75% {
    top: -26.3vmin;
  }
}

@media screen and (max-width: 480px) {
  .greeting {
    margin: 2.2vmin;
  }
  
  main h1 {
    font-size: 5vmin;
  }

  main h2 {
    font-size: 3vmin;
  }

  main button {
    width: 50vmin;
    height: 8vmin;
    font-size: 3vmin;
  }
}
