nav {
    padding: 2vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
}

nav a {
    display: block;
    width: 7vmin;
}

.nav-right {
    margin-right: 30px;
}

.nav-left {
    display: flex;
    align-items: center;
    margin-left: 30px
}

.nav-left a {
    width: 100%;
}

.nav-right ul {
    display: flex;
    align-items: center;
}

.nav-right ul li {
    margin-left: 4vmin;
}

#logo {
    text-decoration: none;
    color: black;
    font-size: 10vmin;
    font-weight: bolder;
}

#logo:hover span{
    color: var(--color1);
    font-size: 7vmin;
}

#logo span {
    font-size: 5vmin;
    transition: 0.3s;
    font-style: italic;
}

nav img {
    width: 100%;
}